
.brand {
  font-weight: bolder;
  font-size: larger;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}

.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #b5b4b8;
  margin:0px;
  padding: 20px 0px 20px 0px;

}
.jumbotron {
  padding:70px 30px 70px 30px;
  margin:0px auto;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.cbody{
  height: 45vmin;
}

.limg{
  height: 12vmin;
  width: 12vmin;
}

